<div data-controller="situation-form">
  <h1 class="font-bold text-4xl">Situations#new</h1>
  <p>Find me in app/views/situations/new.html.erb</p>

  <div>
    <%= form_with model: @situation, data: { action: "submit->situation-form#submit" } do |f| %>
      <div data-situation-form-target="step" class="block">
        <%= render "form_text_area", f: f, attribute: :fact %>

        <button type="button" data-action="click->situation-form#next" class="bg-sky-700 hover:bg-sky-900 text-white font-bold mt-3 py-2 px-4 rounded">次へ</button>
      </div>

      <div data-situation-form-target="step" class="block">
        <%= render "form_text_area", f: f, attribute: :problem %>

        <button type="button" data-action="click->situation-form#prev" class="bg-sky-700 hover:bg-sky-900 text-white font-bold mt-3 py-2 px-4 rounded">戻る</button>
        <button type="button" data-action="click->situation-form#next" class="bg-sky-700 hover:bg-sky-900 text-white font-bold mt-3 py-2 px-4 rounded">次へ</button>
      </div>

      <div data-situation-form-target="step" class="block">
        <%= render "form_text_area", f: f, attribute: :goal %>

        <button type="button" data-action="click->situation-form#prev" class="bg-sky-700 hover:bg-sky-900 text-white font-bold mt-3 py-2 px-4 rounded">戻る</button>
        <%= f.submit "送信", class:"bg-sky-700 hover:bg-sky-900 text-white font-bold mt-3 py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>
