<h2 class="text-3xl font-bold text-dusk-blue">
  <i class="fa-solid fa-robot"></i>
  AIがやることを整理しました！
</h2>
<p class="mt-3 text-dusty-denim">
  内容は自由に編集できます。<br>
  ドラッグで並び替えが可能です。
</p>

<% @tasks.each do |task| %>
  <div data-controller="task-edit">
    <div data-task-edit-target="display" class="m-5 p-4 relative border-2 border-gray-200 text-dusk-blue hover:-translate-y-1 hover:scale-105 ">
      <p class="hover:text-mikan-orange">
        <%= task.position %>. 
        <%= task.content %>
      </p>
      <div>
        <button type="button" data-action="task-edit#edit" class="hover:opacity-60">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </div>
    <div data-task-edit-target="form" class="hidden m-5 p-4">
      <%= form_with model: [@situation, task], method: :patch do |f| %>
        <%= task.position %>. 
        <%= f.text_field :content,
          class: "h-10 w-full appearance-none rounded border-2 border-gray-200 bg-gray-200 leading-tight text-gray-700 focus:border-mikan-orange focus:bg-white focus:outline-none",
          data: {
            task_edit_target: "input",
            action: "input->situation-form#clearError input->situation-form#count"
          } 
        %>
        <%= f.button type:"submit", class:"bg-dusty-denim hover:opacity-60 text-xs text-white font-bold mt-3 py-2 px-4 rounded" do %>
          <i class="fa-solid fa-check"></i>
        <% end %>
        <button type="button" data-action="task-edit#cancel" class="bg-dusty-denim hover:opacity-60 text-xs text-white font-bold mt-3 py-2 px-4 rounded">
          <i class="fa-solid fa-x"></i>
        </button>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <button><i class="fa-solid fa-plus"></i> タスクを追加</button><br>
  <button>入力内容を見直す</button><br>
  <button>保存して完了</button>
</div>
