<%= turbo_stream_from @situation %>
<div id="status_screen">
  <% if @situation.pending? || @situation.generating? %>
    <%= render "generating", situation: @situation %>
  <% elsif @situation.failed? %>
    <%= render "failed", situation: @situation %>
  <% elsif @tasks.exists? %>
    <%= render "list", situation: @situation, tasks: @tasks, new_task: @new_task %>
  <% else %>
    <p>タスクはまだありません。</p>
    <p>必要であれば、タスクを追加してください。</p>
    <%= render "create_form", situation: @situation, new_task: @new_task %>
    <button>入力内容を見直す</button>
  <% end %>
</div>
