<header class="relative w-full" data-controller="hamburger-menu">
  <div class="mx-auto flex items-center justify-between bg-dusk-blue px-4 py-3">
    <%= link_to "ReNovo", root_path, class: "text-xl font-bold text-mikan-orange hover:opacity-60" %>

    <button type="button" class="rounded p-2 hover:opacity-60" data-action="click->hamburger-menu#toggle">
      <span class="block h-0.5 w-6 bg-mikan-orange"></span>
      <span class="mt-1 block h-0.5 w-6 bg-mikan-orange"></span>
      <span class="mt-1 block h-0.5 w-6 bg-mikan-orange"></span>
    </button>
  </div>

  <div class="absolute right-4 top-full z-50 hidden" data-hamburger-menu-target="menu">
    <nav class="w-40 bg-white rounded-md text-lg flex flex-col gap-3 p-3 shadow-2xl">
      <div>
        <%= link_to root_path, class: "text-dusk-blue hover:opacity-60" do %>
          <i class="fa-solid fa-house"></i>
          ホーム
        <% end %>
      </div>
      <div>
        <%= link_to new_situation_path, class: "text-dusk-blue hover:opacity-60" do %>
          <i class="fa-solid fa-plus"></i>
          新規
        <% end %>
      </div>
      <div>
        <%= link_to situations_path, class: "text-dusk-blue hover:opacity-60" do %>
          <i class="fa-solid fa-list"></i>
          一覧
        <% end %>
      </div>
      <div>
        <%= link_to logout_path, data: { turbo_method: :delete }, class: "text-dusk-blue hover:opacity-60" do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          ログアウト
        <% end %>
      </div>
    </nav>
  </div>
</header>
